<div>
<form method="POST" action="https://formspree.io/info+blog@cnmconsulting.net" class="form-style-9">
	<p><strong>For help with things Kubernetes have me contact you today!<strong/></p>
	<ul>
		<li>
		<input type="text" name="field1" class="field-style field-full" placeholder="Name" />
		</li>
		<li>
		<input type="email" name="field2" class="field-style field-full" placeholder="Email" />
		</li>
		<li>
		<input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" />
		</li>
		<li>
		<textarea name="field5" class="field-style" placeholder="Message"></textarea>
		</li>
		<li>
		<input type="submit" value="Send Message" />
		</li>
	</ul>
</form>
</div>

<footer><span>@2018 - chrislovecnm.com</span></footer>
