/*- Custom style -*/

// -- Put custom style under this point -- //

// table stuff
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align-custom: left !default;
$spacing-unit-custom:     30px !default;

/**
 * Tables
 */
.custom-table {
  margin-bottom: $spacing-unit-custom;
  width: 100%;
  text-align: $table-text-align-custom;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit-custom / 3) ($spacing-unit-custom / 2);
  }
  th {
    white-space: nowrap;
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}


.no-wrap {
  white-space: nowrap
}
